<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_jhJdYGTVEeizOc7iTOM9rQ" specification="@CycleBased(200)&#xA;&#xA;interface:&#xA;in event stop&#xA;in event forward&#xA;in event down&#xA;in event up&#xA;in event accelarate&#xA;in event break&#xA;in event reverse&#xA;&#xA;internal:&#xA;var gear : integer = 1&#xA;var speed : integer = 0" name="carSyncConcurrentStateCharts">
    <regions xmi:id="_jhLSmGTVEeizOc7iTOM9rQ" name="Gear">
      <vertices xsi:type="sgraph:State" xmi:id="_jhNHwWTVEeizOc7iTOM9rQ" specification="entry / gear -= 1" name="GearDown" incomingTransitions="_eqxSYGTXEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_aGt4YGTXEeizOc7iTOM9rQ" specification="after 1s" target="_29OmIGTWEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_29OmIGTWEeizOc7iTOM9rQ" specification="accelarate [!active(Motor.Stop)]/ speed += 1&#xA;break [!active(Motor.Stop) &amp;&amp; speed>0] / speed -=1" name="Drive" incomingTransitions="_GTrywGTXEeizOc7iTOM9rQ _aGt4YGTXEeizOc7iTOM9rQ _nnwbgGTXEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_eqxSYGTXEeizOc7iTOM9rQ" specification="down [!active(Motor.Reverse) &amp;&amp; gear > 1]" target="_jhNHwWTVEeizOc7iTOM9rQ"/>
        <outgoingTransitions xmi:id="_qWKigGTXEeizOc7iTOM9rQ" specification="up [!active(Motor.Reverse) &amp;&amp; gear &lt; 6]" target="_4JuOcGTWEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4JuOcGTWEeizOc7iTOM9rQ" specification="entry / gear += 1" name="GearUp" incomingTransitions="_qWKigGTXEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_nnwbgGTXEeizOc7iTOM9rQ" specification="after 1s" target="_29OmIGTWEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_E16NMGTXEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_GTrywGTXEeizOc7iTOM9rQ" specification="" target="_29OmIGTWEeizOc7iTOM9rQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_nJe2AGTVEeizOc7iTOM9rQ" name="Motor">
      <vertices xsi:type="sgraph:State" xmi:id="_5g9uMGTWEeizOc7iTOM9rQ" name="Forward" incomingTransitions="__haNsGTWEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_9MVMsGTWEeizOc7iTOM9rQ" specification="stop" target="_6r9hsGTWEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6r9hsGTWEeizOc7iTOM9rQ" specification="[speed > 0] / speed -=1" name="Stop" incomingTransitions="_9MVMsGTWEeizOc7iTOM9rQ _Y97rYGTXEeizOc7iTOM9rQ _Y5YbMGTaEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="__haNsGTWEeizOc7iTOM9rQ" specification="forward" target="_5g9uMGTWEeizOc7iTOM9rQ"/>
        <outgoingTransitions xmi:id="_OTR_MGTaEeizOc7iTOM9rQ" specification="reverse" target="_MDr7IGTaEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_YUIgcGTXEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_Y97rYGTXEeizOc7iTOM9rQ" specification="" target="_6r9hsGTWEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MDr7IGTaEeizOc7iTOM9rQ" name="Reverse" incomingTransitions="_OTR_MGTaEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_Y5YbMGTaEeizOc7iTOM9rQ" specification="stop" target="_6r9hsGTWEeizOc7iTOM9rQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_jhLSlWTVEeizOc7iTOM9rQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_jhJdYGTVEeizOc7iTOM9rQ" measurementUnit="Pixel">
    <children xmi:id="_jhLSmWTVEeizOc7iTOM9rQ" type="Region" element="_jhLSmGTVEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_jhL5oGTVEeizOc7iTOM9rQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jhL5oWTVEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jhL5omTVEeizOc7iTOM9rQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jhL5o2TVEeizOc7iTOM9rQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_jhNHxGTVEeizOc7iTOM9rQ" type="State" element="_jhNHwWTVEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_jhNu0GTVEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jhNu0WTVEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jhNu0mTVEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jhNu02TVEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jhNu1GTVEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jhNu1WTVEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jhNu1mTVEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jhNHxWTVEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jhNHxmTVEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jhNu12TVEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jhOV4GTVEeizOc7iTOM9rQ" x="34" y="21" width="141" height="76"/>
        </children>
        <children xmi:id="_29RCYGTWEeizOc7iTOM9rQ" type="State" element="_29OmIGTWEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_29RCZGTWEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_29RCZWTWEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_29RpcGTWEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_29RpcWTWEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_29RpcmTWEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29Rpc2TWEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_29SQgGTWEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_29RCYWTWEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_29RCYmTWEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_29SQgWTWEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29RCY2TWEeizOc7iTOM9rQ" x="84" y="131" width="297" height="101"/>
        </children>
        <children xmi:id="_4JwDoGTWEeizOc7iTOM9rQ" type="State" element="_4JuOcGTWEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_4JwqsGTWEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4JwqsWTWEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4JwqsmTWEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4JxRwGTWEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4JxRwWTWEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4JxRwmTWEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4JxRw2TWEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4JwDoWTWEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4JwDomTWEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4Jx40GTWEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4JwDo2TWEeizOc7iTOM9rQ" x="59" y="276" width="141" height="81"/>
        </children>
        <children xmi:id="_E18CYGTXEeizOc7iTOM9rQ" type="Entry" element="_E16NMGTXEeizOc7iTOM9rQ">
          <children xmi:id="_E18pcGTXEeizOc7iTOM9rQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_E18pc2TXEeizOc7iTOM9rQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_E18pdGTXEeizOc7iTOM9rQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_E19QgGTXEeizOc7iTOM9rQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_E18pcWTXEeizOc7iTOM9rQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E18pcmTXEeizOc7iTOM9rQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_E18CYWTXEeizOc7iTOM9rQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_E18CYmTXEeizOc7iTOM9rQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E18CY2TXEeizOc7iTOM9rQ" x="314" y="141"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jhL5pGTVEeizOc7iTOM9rQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_jhLSmmTVEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jhMgsGTVEeizOc7iTOM9rQ" x="40" y="15" width="417" height="411"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_jhPkAGTVEeizOc7iTOM9rQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_jhPkAmTVEeizOc7iTOM9rQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jhPkA2TVEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jhPkBGTVEeizOc7iTOM9rQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jhPkBWTVEeizOc7iTOM9rQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jhPkBmTVEeizOc7iTOM9rQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jhPkB2TVEeizOc7iTOM9rQ" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_nJgEIGTVEeizOc7iTOM9rQ" type="Region" element="_nJe2AGTVEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_nJgEI2TVEeizOc7iTOM9rQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nJgEJGTVEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nJgEJWTVEeizOc7iTOM9rQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nJgEJmTVEeizOc7iTOM9rQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_5g_jYGTWEeizOc7iTOM9rQ" type="State" element="_5g9uMGTWEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_5hAKcGTWEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5hAKcWTWEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5hAKcmTWEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5hAxgGTWEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5hAxgWTWEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5hAxgmTWEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5hBYkGTWEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5g_jYWTWEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5g_jYmTWEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5hBYkWTWEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5g_jY2TWEeizOc7iTOM9rQ" x="7" y="49"/>
        </children>
        <children xmi:id="_6r-v0GTWEeizOc7iTOM9rQ" type="State" element="_6r9hsGTWEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_6r-v1GTWEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6r-v1WTWEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6r-v1mTWEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6r_W4GTWEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6r_W4WTWEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6r_W4mTWEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6r_W42TWEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6r-v0WTWEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6r-v0mTWEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6r_W5GTWEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6r-v02TWEeizOc7iTOM9rQ" x="173" y="49" height="110"/>
        </children>
        <children xmi:id="_YUP1MGTXEeizOc7iTOM9rQ" type="Entry" element="_YUIgcGTXEeizOc7iTOM9rQ">
          <children xmi:id="_YUQcQGTXEeizOc7iTOM9rQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_YUQcQ2TXEeizOc7iTOM9rQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_YUQcRGTXEeizOc7iTOM9rQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_YURDUGTXEeizOc7iTOM9rQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YUQcQWTXEeizOc7iTOM9rQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YUQcQmTXEeizOc7iTOM9rQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YUP1MWTXEeizOc7iTOM9rQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_YUP1MmTXEeizOc7iTOM9rQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YUP1M2TXEeizOc7iTOM9rQ" x="173" y="5"/>
        </children>
        <children xmi:id="_MDz28GTaEeizOc7iTOM9rQ" type="State" element="_MDr7IGTaEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_MD0eAGTaEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MD0eAWTaEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MD0eAmTaEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MD0eA2TaEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MD1FEGTaEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MD1FEWTaEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MD1FEmTaEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MDz28WTaEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MDz28mTaEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MD1FE2TaEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MDz282TaEeizOc7iTOM9rQ" x="143" y="251"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nJgEJ2TVEeizOc7iTOM9rQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nJgEIWTVEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nJgEImTVEeizOc7iTOM9rQ" x="510" y="50" width="382" height="386"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jhLSlmTVEeizOc7iTOM9rQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_jhLSl2TVEeizOc7iTOM9rQ"/>
    <edges xmi:id="_9MXo8GTWEeizOc7iTOM9rQ" type="Transition" element="_9MVMsGTWEeizOc7iTOM9rQ" source="_5g_jYGTWEeizOc7iTOM9rQ" target="_6r-v0GTWEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_9MYQAGTWEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9MYQAWTWEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9MYQAmTWEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9MXo8WTWEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9MXo82TWEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9MXo8mTWEeizOc7iTOM9rQ" points="[-20, 12, -213, 24]$[-20, 22, -213, 34]$[54, 22, -139, 34]$[54, -7, -139, 5]$[109, -7, -84, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9MbTUGTWEeizOc7iTOM9rQ" id="(0.8378378378378378,0.7547169811320755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qXhigGTZEeizOc7iTOM9rQ" id="(0.5,0.22857142857142856)"/>
    </edges>
    <edges xmi:id="__hcC4GTWEeizOc7iTOM9rQ" type="Transition" element="__haNsGTWEeizOc7iTOM9rQ" source="_6r-v0GTWEeizOc7iTOM9rQ" target="_5g_jYGTWEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="__hcp8WTWEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__hcp8mTWEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__hcp82TWEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__hcC4WTWEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__hcp8GTWEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__hcC4mTWEeizOc7iTOM9rQ" points="[0, 0, 92, 12]$[-87, -16, 5, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__hfGMGTWEeizOc7iTOM9rQ" id="(0.020833333333333332,0.025876010781671163)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__hftQGTWEeizOc7iTOM9rQ" id="(0.918918918918919,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_GTtn8GTXEeizOc7iTOM9rQ" type="Transition" element="_GTrywGTXEeizOc7iTOM9rQ" source="_E18CYGTXEeizOc7iTOM9rQ" target="_29RCYGTWEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_GTuPAWTXEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GTuPAmTXEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GTuPA2TXEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GTtn8WTXEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GTuPAGTXEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GTtn8mTXEeizOc7iTOM9rQ" points="[-7, 0, 59, -1]$[-61, -17, 5, -18]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GTxSUGTXEeizOc7iTOM9rQ" id="(0.5867094141649665,0.1948051948051948)"/>
    </edges>
    <edges xmi:id="_Y9-HoGTXEeizOc7iTOM9rQ" type="Transition" element="_Y97rYGTXEeizOc7iTOM9rQ" source="_YUP1MGTXEeizOc7iTOM9rQ" target="_6r-v0GTWEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y9-HpGTXEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y9-HpWTXEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y9-usGTXEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y9-HoWTXEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y9-Ho2TXEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y9-HomTXEeizOc7iTOM9rQ" points="[0, 7, 1, -53]$[2, 51, 3, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y-ByAGTXEeizOc7iTOM9rQ" id="(0.4166666666666667,0.08625336927223722)"/>
    </edges>
    <edges xmi:id="_aG10MGTXEeizOc7iTOM9rQ" type="Transition" element="_aGt4YGTXEeizOc7iTOM9rQ" source="_jhNHxGTVEeizOc7iTOM9rQ" target="_29RCYGTWEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_aG2bQGTXEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aG2bQWTXEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aG2bQmTXEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aG10MWTXEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aG10M2TXEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aG10MmTXEeizOc7iTOM9rQ" points="[5, 8, -46, -64]$[52, 47, 1, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aG43gGTXEeizOc7iTOM9rQ" id="(0.0851063829787234,0.8947368421052632)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aG43gWTXEeizOc7iTOM9rQ" id="(0.04341855418418554,0.26732673267326734)"/>
    </edges>
    <edges xmi:id="_eqzHkGTXEeizOc7iTOM9rQ" type="Transition" element="_eqxSYGTXEeizOc7iTOM9rQ" source="_29RCYGTWEeizOc7iTOM9rQ" target="_jhNHxGTVEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_eqzHlGTXEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eqzHlWTXEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eqzuoGTXEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eqzHkWTXEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eqzHk2TXEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eqzHkmTXEeizOc7iTOM9rQ" points="[-3, -3, 51, 77]$[-49, -42, 5, 38]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eq2K4GTXEeizOc7iTOM9rQ" id="(0.39744676522446765,0.039603960396039604)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eq2K4WTXEeizOc7iTOM9rQ" id="(0.8297872340425532,0.47368421052631576)"/>
    </edges>
    <edges xmi:id="_nny3wGTXEeizOc7iTOM9rQ" type="Transition" element="_nnwbgGTXEeizOc7iTOM9rQ" source="_4JwDoGTWEeizOc7iTOM9rQ" target="_29RCYGTWEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_nnze0GTXEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nnze0WTXEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nnze0mTXEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nny3wWTXEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nny3w2TXEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nny3wmTXEeizOc7iTOM9rQ" points="[0, 0, -17, 55]$[18, -49, 1, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nn2iIGTXEeizOc7iTOM9rQ" id="(0.3333333333333333,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nn2iIWTXEeizOc7iTOM9rQ" id="(0.12691577376915775,0.9405940594059405)"/>
    </edges>
    <edges xmi:id="_qWLwoGTXEeizOc7iTOM9rQ" type="Transition" element="_qWKigGTXEeizOc7iTOM9rQ" source="_29RCYGTWEeizOc7iTOM9rQ" target="_4JwDoGTWEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_qWLwpGTXEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qWLwpWTXEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qWMXsGTXEeizOc7iTOM9rQ" x="-35" y="-57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qWLwoWTXEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qWLwo2TXEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qWLwomTXEeizOc7iTOM9rQ" points="[50, 0, 72, -120]$[50, 79, 72, -41]$[-14, 79, 8, -41]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qWOM4GTXEeizOc7iTOM9rQ" id="(0.4308456530584565,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qWOM4WTXEeizOc7iTOM9rQ" id="(0.9432624113475178,0.9382716049382716)"/>
    </edges>
    <edges xmi:id="_OTUbcGTaEeizOc7iTOM9rQ" type="Transition" element="_OTR_MGTaEeizOc7iTOM9rQ" source="_6r-v0GTWEeizOc7iTOM9rQ" target="_MDz28GTaEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_OTVCgGTaEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OTVCgWTaEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OTVCgmTaEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OTUbcWTaEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OTUbc2TaEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OTUbcmTaEeizOc7iTOM9rQ" points="[1, 7, 4, -97]$[1, 104, 4, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OTYF0GTaEeizOc7iTOM9rQ" id="(0.15028901734104047,0.9363636363636364)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OTYF0WTaEeizOc7iTOM9rQ" id="(0.7777777777777778,0.0)"/>
    </edges>
    <edges xmi:id="_Y5aQYGTaEeizOc7iTOM9rQ" type="Transition" element="_Y5YbMGTaEeizOc7iTOM9rQ" source="_MDz28GTaEeizOc7iTOM9rQ" target="_6r-v0GTWEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y5a3cGTaEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y5a3cWTaEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y5a3cmTaEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y5aQYWTaEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y5aQY2TaEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y5aQYmTaEeizOc7iTOM9rQ" points="[12, -19, -66, 107]$[82, -116, 4, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y5dTsGTaEeizOc7iTOM9rQ" id="(0.7916666666666666,0.39622641509433965)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y5dTsWTaEeizOc7iTOM9rQ" id="(0.6069364161849711,0.9090909090909091)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
