<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Q51doGTNEeizOc7iTOM9rQ" specification="@CycleBased(200)&#xA;&#xA;interface:&#xA;in event mode&#xA;in event set&#xA;&#xA;var time:integer = 23*60*60+59*60+00&#xA;var hour:integer&#xA;var min:integer&#xA;var sec:integer&#xA;var chime:boolean = false&#xA;&#xA;operation display(i:integer):void&#xA;operation rings() : void&#xA;&#xA;internal:&#xA;&#xA;every 1s/ &#xA;time  +=  1;&#xA;sec  =  time % 60;&#xA;min  =  (time/60) %60;&#xA;hour = (time/3600) % 24" name="clockParallelRegionsPart6">
    <regions xmi:id="_WMBI8GTNEeizOc7iTOM9rQ" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_WMBI8WTNEeizOc7iTOM9rQ" name="Set" incomingTransitions="_WMEzVGTNEeizOc7iTOM9rQ">
        <regions xmi:id="_WMBwAWTNEeizOc7iTOM9rQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_WMBwAmTNEeizOc7iTOM9rQ" name="SetHour" incomingTransitions="_WMCXEWTNEeizOc7iTOM9rQ _WMEzUWTNEeizOc7iTOM9rQ">
            <outgoingTransitions xmi:id="_WMCXEWTNEeizOc7iTOM9rQ" specification="mode / time += 3600" target="_WMBwAmTNEeizOc7iTOM9rQ"/>
            <outgoingTransitions xmi:id="_WMC-KGTNEeizOc7iTOM9rQ" specification="set" target="_WMDlM2TNEeizOc7iTOM9rQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_WMDlM2TNEeizOc7iTOM9rQ" specification="" name="SetMinutes" incomingTransitions="_WMC-KGTNEeizOc7iTOM9rQ _WMEMRWTNEeizOc7iTOM9rQ">
            <outgoingTransitions xmi:id="_WMEMRWTNEeizOc7iTOM9rQ" specification="mode / time += 60" target="_WMDlM2TNEeizOc7iTOM9rQ"/>
            <outgoingTransitions xmi:id="_G3Fw4GTOEeizOc7iTOM9rQ" specification="set" target="_8jqZQGTNEeizOc7iTOM9rQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_WMEzUGTNEeizOc7iTOM9rQ">
            <outgoingTransitions xmi:id="_WMEzUWTNEeizOc7iTOM9rQ" specification="" target="_WMBwAmTNEeizOc7iTOM9rQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_8jqZQGTNEeizOc7iTOM9rQ" name="ActivateChime" incomingTransitions="_CUBOUGTOEeizOc7iTOM9rQ _G3Fw4GTOEeizOc7iTOM9rQ">
            <outgoingTransitions xmi:id="_WMEMQWTNEeizOc7iTOM9rQ" specification="set" target="_WMGohWTNEeizOc7iTOM9rQ"/>
            <outgoingTransitions xmi:id="_CUBOUGTOEeizOc7iTOM9rQ" specification="mode / chime = !chime" target="_8jqZQGTNEeizOc7iTOM9rQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_WMEzUmTNEeizOc7iTOM9rQ" name="Display" incomingTransitions="_WMGoh2TNEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_WMEzVGTNEeizOc7iTOM9rQ" specification="set" target="_WMBI8WTNEeizOc7iTOM9rQ"/>
        <regions xmi:id="_WMFaY2TNEeizOc7iTOM9rQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_WMFaZGTNEeizOc7iTOM9rQ" specification="every 1s/ display(hour)" name="DisplayHour" incomingTransitions="_WMGohGTNEeizOc7iTOM9rQ _WMGBfmTNEeizOc7iTOM9rQ">
            <outgoingTransitions xmi:id="_WMFab2TNEeizOc7iTOM9rQ" specification="mode" target="_WMGBc2TNEeizOc7iTOM9rQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_WMGBc2TNEeizOc7iTOM9rQ" specification="every 1s/ display(sec)" name="DisplayMinutes" incomingTransitions="_WMFab2TNEeizOc7iTOM9rQ">
            <outgoingTransitions xmi:id="_WMGBfmTNEeizOc7iTOM9rQ" specification="mode" target="_WMFaZGTNEeizOc7iTOM9rQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_WMGog2TNEeizOc7iTOM9rQ">
            <outgoingTransitions xmi:id="_WMGohGTNEeizOc7iTOM9rQ" target="_WMFaZGTNEeizOc7iTOM9rQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_WMGohWTNEeizOc7iTOM9rQ" name="history" incomingTransitions="_WMEMQWTNEeizOc7iTOM9rQ" kind="SHALLOW_HISTORY"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_WMGohmTNEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_WMGoh2TNEeizOc7iTOM9rQ" specification="" target="_WMEzUmTNEeizOc7iTOM9rQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_dtSiAGTNEeizOc7iTOM9rQ" name="chime region">
      <vertices xsi:type="sgraph:State" xmi:id="_YSVqUGTPEeizOc7iTOM9rQ" name="ChimeOff" incomingTransitions="_hyaSYGTPEeizOc7iTOM9rQ _n-YscGTPEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_iZLXcGTPEeizOc7iTOM9rQ" specification="[chime]" target="_d41_0GTPEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_d41_0GTPEeizOc7iTOM9rQ" name="ChimeOn" incomingTransitions="_iZLXcGTPEeizOc7iTOM9rQ _yuCGAGTPEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_n-YscGTPEeizOc7iTOM9rQ" specification="[!chime]" target="_YSVqUGTPEeizOc7iTOM9rQ"/>
        <outgoingTransitions xmi:id="_sUP5cGTPEeizOc7iTOM9rQ" specification="[time % 60 ==0]" target="_fKLr4GTPEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fKLr4GTPEeizOc7iTOM9rQ" specification="entry / rings()" name="ChimeRings" incomingTransitions="_sUP5cGTPEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_yuCGAGTPEeizOc7iTOM9rQ" specification="after 5s" target="_d41_0GTPEeizOc7iTOM9rQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_hUfnUGTPEeizOc7iTOM9rQ">
        <outgoingTransitions xmi:id="_hyaSYGTPEeizOc7iTOM9rQ" specification="" target="_YSVqUGTPEeizOc7iTOM9rQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Q53S2mTNEeizOc7iTOM9rQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Q51doGTNEeizOc7iTOM9rQ" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_Q56WJ2TNEeizOc7iTOM9rQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_Q569MGTNEeizOc7iTOM9rQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Q569MWTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Q569MmTNEeizOc7iTOM9rQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Q569M2TNEeizOc7iTOM9rQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q569NGTNEeizOc7iTOM9rQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q569NWTNEeizOc7iTOM9rQ" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_WL9ekGTNEeizOc7iTOM9rQ" type="Region" element="_WMBI8GTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WL9ekWTNEeizOc7iTOM9rQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WL9ekmTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WL9ek2TNEeizOc7iTOM9rQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_WL9elGTNEeizOc7iTOM9rQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_WL9elWTNEeizOc7iTOM9rQ" type="State" element="_WMBI8WTNEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_WL9elmTNEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WL9el2TNEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WL9emGTNEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WL9emWTNEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_WL9emmTNEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL9em2TNEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WL9enGTNEeizOc7iTOM9rQ" type="StateFigureCompartment">
            <children xmi:id="_-YaUYGTNEeizOc7iTOM9rQ" type="Region" element="_WMBwAWTNEeizOc7iTOM9rQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_-YaUYWTNEeizOc7iTOM9rQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_-YaUYmTNEeizOc7iTOM9rQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_-YaUY2TNEeizOc7iTOM9rQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_-YaUZGTNEeizOc7iTOM9rQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_-YaUZWTNEeizOc7iTOM9rQ" type="State" element="_WMBwAmTNEeizOc7iTOM9rQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_-YaUZmTNEeizOc7iTOM9rQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-YaUZ2TNEeizOc7iTOM9rQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_-YaUaGTNEeizOc7iTOM9rQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-YaUaWTNEeizOc7iTOM9rQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_-YaUamTNEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-YaUa2TNEeizOc7iTOM9rQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-YaUbGTNEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-YaUbWTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_-YaUbmTNEeizOc7iTOM9rQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-YaUb2TNEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-YaUcGTNEeizOc7iTOM9rQ" x="53" y="5" width="115"/>
                </children>
                <children xmi:id="_-YaUcWTNEeizOc7iTOM9rQ" type="State" element="_WMDlM2TNEeizOc7iTOM9rQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_-YaUcmTNEeizOc7iTOM9rQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-YaUc2TNEeizOc7iTOM9rQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_-YaUdGTNEeizOc7iTOM9rQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-YaUdWTNEeizOc7iTOM9rQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_-YaUdmTNEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-YaUd2TNEeizOc7iTOM9rQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-YaUeGTNEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-YaUeWTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_-YaUemTNEeizOc7iTOM9rQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-YaUe2TNEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-YaUfGTNEeizOc7iTOM9rQ" x="245" y="5" width="101" height="76"/>
                </children>
                <children xmi:id="_-YaUfWTNEeizOc7iTOM9rQ" type="Entry" element="_WMEzUGTNEeizOc7iTOM9rQ">
                  <children xmi:id="_-YaUfmTNEeizOc7iTOM9rQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_-YaUf2TNEeizOc7iTOM9rQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_-YaUgGTNEeizOc7iTOM9rQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_-YaUgWTNEeizOc7iTOM9rQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-YaUgmTNEeizOc7iTOM9rQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-YaUg2TNEeizOc7iTOM9rQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-YaUhGTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_-YaUhWTNEeizOc7iTOM9rQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-YaUhmTNEeizOc7iTOM9rQ" x="3" y="17"/>
                </children>
                <children xmi:id="_-YaUh2TNEeizOc7iTOM9rQ" type="State" element="_8jqZQGTNEeizOc7iTOM9rQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_-YaUiGTNEeizOc7iTOM9rQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-Ya7cGTNEeizOc7iTOM9rQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_-Ya7cWTNEeizOc7iTOM9rQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-Ya7cmTNEeizOc7iTOM9rQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_-Ya7c2TNEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-Ya7dGTNEeizOc7iTOM9rQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-Ya7dWTNEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-Ya7dmTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_-Ya7d2TNEeizOc7iTOM9rQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-Ya7eGTNEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-Ya7eWTNEeizOc7iTOM9rQ" x="397" y="10"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-Ya7emTNEeizOc7iTOM9rQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_-Ya7e2TNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-Ya7fGTNEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-FqGTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WL-FqWTNEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WL-FqmTNEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-Fq2TNEeizOc7iTOM9rQ" x="14" y="346" width="593" height="211"/>
        </children>
        <children xmi:id="_WL-FrGTNEeizOc7iTOM9rQ" type="State" element="_WMEzUmTNEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_WL-FrWTNEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-FrmTNEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WL-Fr2TNEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WL-FsGTNEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_WL-FsWTNEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-FsmTNEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WL-Fs2TNEeizOc7iTOM9rQ" type="StateFigureCompartment">
            <children xmi:id="_WL-FtGTNEeizOc7iTOM9rQ" type="Region" element="_WMFaY2TNEeizOc7iTOM9rQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_WL-FtWTNEeizOc7iTOM9rQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-FtmTNEeizOc7iTOM9rQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_WL-Ft2TNEeizOc7iTOM9rQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_WL-FuGTNEeizOc7iTOM9rQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_WL-FuWTNEeizOc7iTOM9rQ" type="State" element="_WMFaZGTNEeizOc7iTOM9rQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WL-FumTNEeizOc7iTOM9rQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-Fu2TNEeizOc7iTOM9rQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WL-FvGTNEeizOc7iTOM9rQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WL-FvWTNEeizOc7iTOM9rQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WL-FvmTNEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-Fv2TNEeizOc7iTOM9rQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WL-FwGTNEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-FwWTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WL-FwmTNEeizOc7iTOM9rQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WL-Fw2TNEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-FxGTNEeizOc7iTOM9rQ" x="28" y="-8" width="170" height="102"/>
                </children>
                <children xmi:id="_WL-FxWTNEeizOc7iTOM9rQ" type="State" element="_WMGBc2TNEeizOc7iTOM9rQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WL-FxmTNEeizOc7iTOM9rQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-Fx2TNEeizOc7iTOM9rQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WL-FyGTNEeizOc7iTOM9rQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WL-FyWTNEeizOc7iTOM9rQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WL-FymTNEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-Fy2TNEeizOc7iTOM9rQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WL-FzGTNEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-FzWTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WL-FzmTNEeizOc7iTOM9rQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WL-Fz2TNEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F0GTNEeizOc7iTOM9rQ" x="278" y="-8" width="201" height="106"/>
                </children>
                <children xmi:id="_WL-F0WTNEeizOc7iTOM9rQ" type="Entry" element="_WMGog2TNEeizOc7iTOM9rQ">
                  <children xmi:id="_WL-F0mTNEeizOc7iTOM9rQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_WL-F02TNEeizOc7iTOM9rQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F1GTNEeizOc7iTOM9rQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_WL-F1WTNEeizOc7iTOM9rQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F1mTNEeizOc7iTOM9rQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F12TNEeizOc7iTOM9rQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F2GTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_WL-F2WTNEeizOc7iTOM9rQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F2mTNEeizOc7iTOM9rQ" x="3" y="-8"/>
                </children>
                <children xmi:id="_WL-F22TNEeizOc7iTOM9rQ" type="ShallowHistory" element="_WMGohWTNEeizOc7iTOM9rQ">
                  <children xmi:id="_WL-F3GTNEeizOc7iTOM9rQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_WL-F3WTNEeizOc7iTOM9rQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F3mTNEeizOc7iTOM9rQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_WL-F32TNEeizOc7iTOM9rQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F4GTNEeizOc7iTOM9rQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F4WTNEeizOc7iTOM9rQ" x="-4" y="19"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F4mTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_WL-F42TNEeizOc7iTOM9rQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F5GTNEeizOc7iTOM9rQ" x="434" y="127"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F5WTNEeizOc7iTOM9rQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F5mTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F52TNEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F6GTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WL-F6WTNEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WL-F6mTNEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F62TNEeizOc7iTOM9rQ" x="45" y="41" width="581" height="258"/>
        </children>
        <children xmi:id="_WL-F7GTNEeizOc7iTOM9rQ" type="Entry" element="_WMGohmTNEeizOc7iTOM9rQ">
          <children xmi:id="_WL-F7WTNEeizOc7iTOM9rQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_WL-F7mTNEeizOc7iTOM9rQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F72TNEeizOc7iTOM9rQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_WL-F8GTNEeizOc7iTOM9rQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F8WTNEeizOc7iTOM9rQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F8mTNEeizOc7iTOM9rQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F82TNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_WL-F9GTNEeizOc7iTOM9rQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F9WTNEeizOc7iTOM9rQ" x="45" y="1" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F9mTNEeizOc7iTOM9rQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_WL-F92TNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WL-F-GTNEeizOc7iTOM9rQ" x="5" y="5" width="651" height="666"/>
    </children>
    <children xmi:id="_dtYBkGTNEeizOc7iTOM9rQ" type="Region" element="_dtSiAGTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_dtYBk2TNEeizOc7iTOM9rQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dtYBlGTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dtYooGTNEeizOc7iTOM9rQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_dtYooWTNEeizOc7iTOM9rQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_YSZ7wGTPEeizOc7iTOM9rQ" type="State" element="_YSVqUGTPEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_YSai0GTPEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YSai0WTPEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YSai0mTPEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YSai02TPEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YSai1GTPEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YSai1WTPEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YSbJ4GTPEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YSZ7wWTPEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YSZ7wmTPEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YSbJ4WTPEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YSZ7w2TPEeizOc7iTOM9rQ" x="43" y="44"/>
        </children>
        <children xmi:id="_d431AGTPEeizOc7iTOM9rQ" type="State" element="_d41_0GTPEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_d431BGTPEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d431BWTPEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_d431BmTPEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d431B2TPEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_d44cEGTPEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d44cEWTPEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d44cEmTPEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d431AWTPEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_d431AmTPEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_d44cE2TPEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d431A2TPEeizOc7iTOM9rQ" x="50" y="176"/>
        </children>
        <children xmi:id="_fKM6AGTPEeizOc7iTOM9rQ" type="State" element="_fKLr4GTPEeizOc7iTOM9rQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_fKNhEGTPEeizOc7iTOM9rQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fKNhEWTPEeizOc7iTOM9rQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fKNhEmTPEeizOc7iTOM9rQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fKNhE2TPEeizOc7iTOM9rQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fKNhFGTPEeizOc7iTOM9rQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fKNhFWTPEeizOc7iTOM9rQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fKNhFmTPEeizOc7iTOM9rQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fKM6AWTPEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fKM6AmTPEeizOc7iTOM9rQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fKNhF2TPEeizOc7iTOM9rQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fKM6A2TPEeizOc7iTOM9rQ" x="34" y="362"/>
        </children>
        <children xmi:id="_hUg1cGTPEeizOc7iTOM9rQ" type="Entry" element="_hUfnUGTPEeizOc7iTOM9rQ">
          <children xmi:id="_hUhcgGTPEeizOc7iTOM9rQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_hUhcg2TPEeizOc7iTOM9rQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_hUhchGTPEeizOc7iTOM9rQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_hUhchWTPEeizOc7iTOM9rQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hUhcgWTPEeizOc7iTOM9rQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hUhcgmTPEeizOc7iTOM9rQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hUg1cWTPEeizOc7iTOM9rQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_hUg1cmTPEeizOc7iTOM9rQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hUg1c2TPEeizOc7iTOM9rQ" x="5" y="8"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dtYoomTNEeizOc7iTOM9rQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_dtYBkWTNEeizOc7iTOM9rQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dtYBkmTNEeizOc7iTOM9rQ" x="672" y="14" width="185" height="577"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Q53S22TNEeizOc7iTOM9rQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Q53S3GTNEeizOc7iTOM9rQ"/>
    <edges xmi:id="_WMIdsGTNEeizOc7iTOM9rQ" type="Transition" element="_WMGohGTNEeizOc7iTOM9rQ" source="_WL-F0WTNEeizOc7iTOM9rQ" target="_WL-FuWTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMIdsWTNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMIdsmTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMIds2TNEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMIdtGTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMIdtWTNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMIdtmTNEeizOc7iTOM9rQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMIdt2TNEeizOc7iTOM9rQ" id="(0.2878787878787879,0.24742268041237114)"/>
    </edges>
    <edges xmi:id="_WMIduGTNEeizOc7iTOM9rQ" type="Transition" element="_WMFab2TNEeizOc7iTOM9rQ" source="_WL-FuWTNEeizOc7iTOM9rQ" target="_WL-FxWTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMIduWTNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMIdumTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMIdu2TNEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMIdvGTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMIdvWTNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMIdvmTNEeizOc7iTOM9rQ" points="[27, -2, -163, 3]$[191, -47, 1, -42]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMIdv2TNEeizOc7iTOM9rQ" id="(0.8411764705882352,0.47058823529411764)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMIdwGTNEeizOc7iTOM9rQ" id="(0.024875621890547265,0.42452830188679247)"/>
    </edges>
    <edges xmi:id="_WMIdwWTNEeizOc7iTOM9rQ" type="Transition" element="_WMGBfmTNEeizOc7iTOM9rQ" source="_WL-FxWTNEeizOc7iTOM9rQ" target="_WL-FuWTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMIdwmTNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMIdw2TNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMIdxGTNEeizOc7iTOM9rQ" x="9" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMIdxWTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMIdxmTNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMIdx2TNEeizOc7iTOM9rQ" points="[21, 5, 349, 6]$[21, 17, 349, 18]$[-318, 17, 10, 18]$[-318, 3, 10, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMIdyGTNEeizOc7iTOM9rQ" id="(0.4079601990049751,0.9528301886792452)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMIdyWTNEeizOc7iTOM9rQ" id="(0.4588235294117647,0.9607843137254902)"/>
    </edges>
    <edges xmi:id="_WMJEwGTNEeizOc7iTOM9rQ" type="Transition" element="_WMEzVGTNEeizOc7iTOM9rQ" source="_WL-FrGTNEeizOc7iTOM9rQ" target="_WL9elWTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMJEwWTNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMJEwmTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMJEw2TNEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMJExGTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMJExWTNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMJExmTNEeizOc7iTOM9rQ" points="[-1, 8, 21, -197]$[-1, 203, 21, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJEx2TNEeizOc7iTOM9rQ" id="(0.11876075731497418,0.9728682170542635)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJEyGTNEeizOc7iTOM9rQ" id="(0.12014134275618374,0.009478672985781991)"/>
    </edges>
    <edges xmi:id="_WMJEyWTNEeizOc7iTOM9rQ" type="Transition" element="_WMCXEWTNEeizOc7iTOM9rQ" source="_-YaUZWTNEeizOc7iTOM9rQ" target="_-YaUZWTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMJEymTNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMJEy2TNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMJEzGTNEeizOc7iTOM9rQ" x="12" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMJEzWTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMJEzmTNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMJEz2TNEeizOc7iTOM9rQ" points="[10, 20, 85, 1]$[39, 20, 114, 1]$[39, 66, 114, 47]$[-11, 66, 64, 47]$[-11, 29, 64, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJE0GTNEeizOc7iTOM9rQ" id="(0.9122042341220422,0.4150943396226416)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJE0WTNEeizOc7iTOM9rQ" id="(0.2273972602739726,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_WMJE0mTNEeizOc7iTOM9rQ" type="Transition" element="_WMEMQWTNEeizOc7iTOM9rQ" source="_-YaUh2TNEeizOc7iTOM9rQ" target="_WL-F22TNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMJE02TNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMJE1GTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMJE1WTNEeizOc7iTOM9rQ" x="8" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMJE1mTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMJE12TNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMJE2GTNEeizOc7iTOM9rQ" points="[-83, -13, -197, 176]$[49, -13, -65, 176]$[49, -184, -65, 5]$[114, -184, 0, 5]$[114, -182, 0, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJE2WTNEeizOc7iTOM9rQ" id="(0.43478260869565216,0.20754716981132076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LK2FEGTOEeizOc7iTOM9rQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_WMJE2mTNEeizOc7iTOM9rQ" type="Transition" element="_WMC-KGTNEeizOc7iTOM9rQ" source="_-YaUZWTNEeizOc7iTOM9rQ" target="_-YaUcWTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMJE22TNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMJE3GTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMJE3WTNEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMJE3mTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMJE32TNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMJE4GTNEeizOc7iTOM9rQ" points="[8, 5, -157, 2]$[166, -12, 1, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJE4WTNEeizOc7iTOM9rQ" id="(0.9297633872976337,0.1509433962264151)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJE4mTNEeizOc7iTOM9rQ" id="(0.040603741496598636,0.2236842105263158)"/>
    </edges>
    <edges xmi:id="_WMJr0GTNEeizOc7iTOM9rQ" type="Transition" element="_WMEMRWTNEeizOc7iTOM9rQ" source="_-YaUcWTNEeizOc7iTOM9rQ" target="_-YaUcWTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMJr0WTNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMJr0mTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMJr02TNEeizOc7iTOM9rQ" x="15" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMJr1GTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMJr1WTNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMJr1mTNEeizOc7iTOM9rQ" points="[-82, 25, 28, -12]$[-63, 25, 47, -12]$[-63, 73, 47, 36]$[-113, 73, -3, 36]$[-113, 39, -3, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJr12TNEeizOc7iTOM9rQ" id="(1.857621173469388,0.4605263157894737)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJr2GTNEeizOc7iTOM9rQ" id="(0.7105654761904763,0.9736842105263158)"/>
    </edges>
    <edges xmi:id="_WMJr2WTNEeizOc7iTOM9rQ" type="Transition" element="_WMGoh2TNEeizOc7iTOM9rQ" source="_WL-F7GTNEeizOc7iTOM9rQ" target="_WL-FrGTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMJr2mTNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMJr22TNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMJr3GTNEeizOc7iTOM9rQ" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMJr3WTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMJr3mTNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMJr32TNEeizOc7iTOM9rQ" points="[6, 4, -9, -70]$[0, 4, -15, -70]$[0, 34, -15, -40]$[35, 34, 20, -40]$[35, 72, 20, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJr4GTNEeizOc7iTOM9rQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJr4WTNEeizOc7iTOM9rQ" id="(0.03614457831325301,0.011627906976744186)"/>
    </edges>
    <edges xmi:id="_WMJr4mTNEeizOc7iTOM9rQ" type="Transition" element="_WMEzUWTNEeizOc7iTOM9rQ" source="_-YaUfWTNEeizOc7iTOM9rQ" target="_-YaUZWTNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMJr42TNEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMJr5GTNEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMJr5WTNEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMJr5mTNEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMJr52TNEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMJr6GTNEeizOc7iTOM9rQ" points="[7, 0, -38, 0]$[46, -19, 1, -19]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMJr6WTNEeizOc7iTOM9rQ" id="(0.02608695652173913,0.41509433962264153)"/>
    </edges>
    <edges xmi:id="_CUJKIGTOEeizOc7iTOM9rQ" type="Transition" element="_CUBOUGTOEeizOc7iTOM9rQ" source="_-YaUh2TNEeizOc7iTOM9rQ" target="_-YaUh2TNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_CUJxMWTOEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CUJxMmTOEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CUJxM2TOEeizOc7iTOM9rQ" x="38" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CUJKIWTOEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CUJxMGTOEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CUJKImTOEeizOc7iTOM9rQ" points="[13, 16, 75, -2]$[49, 16, 111, -2]$[49, 77, 111, 59]$[-10, 77, 52, 59]$[-10, 25, 52, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CUM0gGTOEeizOc7iTOM9rQ" id="(0.8869565217391304,0.49056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CUM0gWTOEeizOc7iTOM9rQ" id="(0.3217391304347826,0.8679245283018868)"/>
    </edges>
    <edges xmi:id="_G3NssGTOEeizOc7iTOM9rQ" type="Transition" element="_G3Fw4GTOEeizOc7iTOM9rQ" source="_-YaUcWTNEeizOc7iTOM9rQ" target="_-YaUh2TNEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_G3OTwGTOEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_G3OTwWTOEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_G3OTwmTOEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_G3NssWTOEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_G3Nss2TOEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_G3NssmTOEeizOc7iTOM9rQ" points="[6, 6, -62, 2]$[69, -14, 1, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_G3R-IGTOEeizOc7iTOM9rQ" id="(0.9405940594059405,0.27631578947368424)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_G3R-IWTOEeizOc7iTOM9rQ" id="(0.06086956521739131,0.37735849056603776)"/>
    </edges>
    <edges xmi:id="_hycHkGTPEeizOc7iTOM9rQ" type="Transition" element="_hyaSYGTPEeizOc7iTOM9rQ" source="_hUg1cGTPEeizOc7iTOM9rQ" target="_YSZ7wGTPEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_hycHlGTPEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hycHlWTPEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hycHlmTPEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hycHkWTPEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hycHk2TPEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hycHkmTPEeizOc7iTOM9rQ" points="[6, 5, -38, -32]$[45, 29, 1, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hyd8wGTPEeizOc7iTOM9rQ" id="(0.1728395061728395,0.16981132075471697)"/>
    </edges>
    <edges xmi:id="_iZMlkGTPEeizOc7iTOM9rQ" type="Transition" element="_iZLXcGTPEeizOc7iTOM9rQ" source="_YSZ7wGTPEeizOc7iTOM9rQ" target="_d431AGTPEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_iZMllGTPEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iZMllWTPEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iZNMoGTPEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iZMlkWTPEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iZMlk2TPEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iZMlkmTPEeizOc7iTOM9rQ" points="[8, 8, 2, -94]$[8, 92, 2, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iZPB0GTPEeizOc7iTOM9rQ" id="(0.2345679012345679,0.8490566037735849)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iZPB0WTPEeizOc7iTOM9rQ" id="(0.225,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_n-bvwGTPEeizOc7iTOM9rQ" type="Transition" element="_n-YscGTPEeizOc7iTOM9rQ" source="_d431AGTPEeizOc7iTOM9rQ" target="_YSZ7wGTPEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_n-bvxGTPEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n-bvxWTPEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n-bvxmTPEeizOc7iTOM9rQ" x="9" y="8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_n-bvwWTPEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_n-bvw2TPEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_n-bvwmTPEeizOc7iTOM9rQ" points="[10, 0, 21, 108]$[10, -84, 21, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n-dk8GTPEeizOc7iTOM9rQ" id="(0.5625,0.0)"/>
    </edges>
    <edges xmi:id="_sUTj0GTPEeizOc7iTOM9rQ" type="Transition" element="_sUP5cGTPEeizOc7iTOM9rQ" source="_d431AGTPEeizOc7iTOM9rQ" target="_fKM6AGTPEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_sUUK4WTPEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sUUK4mTPEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sUUK42TPEeizOc7iTOM9rQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sUTj0WTPEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sUUK4GTPEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sUTj0mTPEeizOc7iTOM9rQ" points="[4, 8, 2, -141]$[4, 146, 2, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sUWAEGTPEeizOc7iTOM9rQ" id="(0.1625,0.8490566037735849)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sUWAEWTPEeizOc7iTOM9rQ" id="(0.32653061224489793,0.07547169811320754)"/>
    </edges>
    <edges xmi:id="_yuFJUGTPEeizOc7iTOM9rQ" type="Transition" element="_yuCGAGTPEeizOc7iTOM9rQ" source="_fKM6AGTPEeizOc7iTOM9rQ" target="_d431AGTPEeizOc7iTOM9rQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuFJVGTPEeizOc7iTOM9rQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuFJVWTPEeizOc7iTOM9rQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuFJVmTPEeizOc7iTOM9rQ" x="-22" y="18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yuFJUWTPEeizOc7iTOM9rQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yuFJU2TPEeizOc7iTOM9rQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yuFJUmTPEeizOc7iTOM9rQ" points="[6, -3, 3, 141]$[6, -141, 3, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yuG-gGTPEeizOc7iTOM9rQ" id="(0.8469387755102041,0.07547169811320754)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yuG-gWTPEeizOc7iTOM9rQ" id="(0.875,0.9433962264150944)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
